@{
    ViewBag.Title = "All Products";
    Layout = "_AdminLayout";
}
<div class="position-relative text-center bg-light p-2 m-3">
    <div class="display-4 p-3 m-5">
        <h1 class="p-1">
            <strong class="font-weight-bolder">SportsStore</strong>
            <small class="font-weight-lighter">Admin</small>
        </h1>
        <p class="lead font-weight-normal">
            Welcome to Index page of SportsStore Admin section.
        </p>
    </div>
</div>
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-sm-6">
            <div class="card bg-dark text-white">
                <div class="card-body">
                    <h2 class="card-title">Products</h2>
                    <p class="card-text">Add, edit or delete products in your store.</p>
                    <a asp-controller="Product" 
                       asp-action="AdminList"
                       class="btn btn-success">Go to <strong>Products</strong></a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card bg-dark text-white">
                <div class="card-body">
                    <h2 class="card-title">Orders</h2>
                    <p class="card-text">Manage or view ongoing and completed customer orders.</p>
                    <a asp-controller="Order" 
                       asp-action="List"
                       class="btn btn-success">Go to <strong>Orders</strong></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-6">
            <div class="card bg-dark text-white">
                <div class="card-body">
                    <h2 class="card-title">Imports</h2>
                    <p class="card-text">Manage or view import orders of your store.</p>
                    <a asp-controller="Import"
                       asp-action="Index"
                       class="btn btn-success">Go to <strong>Imports</strong></a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card bg-dark text-white">
                <div class="card-body">
                    <h2 class="card-title">Employees</h2>
                    <p class="card-text">Manage or view store's employees.</p>
                    <a asp-controller="Product"
                       asp-action="AdminList"
                       class="btn btn-success">Go to <strong>Employees</strong></a>
                </div>
            </div>
        </div>
    </div>
</div>
